* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

h1,
h3,
h5 {
    text-align: center;
}

p {
    text-align: justify;
}

/* HEADER */

.header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #dddddd;
    padding: 10px;
    color: darkblue;
}

.headeritem_logo {
    margin-right: 20px;
}

/* MAIN CONTAINER */



/* NAVIGATION */

.main_nav {
    width: 20%;
    background-color: #dddddd;
    padding: 20px;
}

.main_nav ul {
    list-style-type: none;
    padding: 0;
}

.main_nav li {
    padding-bottom: 10px;
}

#main_page {
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
}

/* NAV */
.main_nav {
    grid-column: 1 / 2;
    grid-row: 1 / 20;
}

/* ARTICLE */
.main_article {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* TYTUŁ */
#articleTitle {
    grid-column: 1 / 3;
}

/* SEKCJE */
.section_title {
    grid-column: 1 / 3;
}

.section_contents {
    display: contents;
}

.section_image {
    grid-column: 1 / 2;
}

.section_text {
    grid-column: 2 / 3;
}

/* SECTION */

@media (max-width:1024px) {

    #main_page {
        grid-template-columns: 1fr 3fr;
    }

    .main_article {
        grid-template-columns: 1fr;
    }

    .section_image,
    .section_text {
        grid-column: 1 / 2;
    }
}

@media (max-width:600px) {

    #main_page {
        grid-template-columns: 1fr;
    }

    .main_nav,
    .main_article {
        grid-column: 1 / 2;
    }
}

.section_image {
    margin-right: 15px;
}

/* FOOTER */

.main_footer {
    background-color: #dddddd;
    padding: 10px;
    text-align: center;
    color: darkblue;
}

/* RESPONSIVE */

@media (max-width:1024px) {

    .section_contents {
        flex-direction: column;
    }

}

@media (max-width:600px) {

    .main_container {
        flex-direction: column;
    }

    .main_nav {
        width: 100%;
    }

}